snippet class "Class expansor" b
class $1 extends React.Component {
	constructor(props) {
		super(props);
		this.state = {
			$2
		}
		${4/(.*)/this.$1 = this.$1.bind(this);/} 
	}
	${4:function()}

render() {
	return (
		$0
		)
}
endsnippet

snippet div "div expansor" b
<div className="$1">
	$0
</div>
endsnippet

