* {
    border: 0;
	margin-right: 3px;
	margin-left: 0px;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 40px;
    min-height: 0;
}

#waybar {
    background: transparent;
}


#window {
    font-weight: bold;
    font-family: "Anonymous Pro";
	color: black;
	background-color: black;
	background: red;
}


#workspaces button {
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.0);
	padding: 2px 0px;
    border-radius: 25px 25px 25px 25px;
}

#workspaces button.current_output {
	color: rgba(0, 0, 0, 1);
}


#workspaces button.visible {
	color: rgba(0, 0, 0, 1);
}

#workspaces button:hover{
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0)
}


#custom-p1{
    border-radius: 25px 25px 0px 0px;
}

#custom-p5{
    border-radius: 0px 0px 25px 25px;
}

#custom-p1,
#custom-p2,
#custom-p3,
#custom-p4,
#custom-p5,
#clock,
#battery,
#network,
#pulseaudio,
#custom-power{
	background-color: rgba(0, 0, 0, 0.3);
    color: #000000;
	opacity: 0.8;
    padding: 3px 7px;
}

#pulseaudio{
    border-radius: 25px 25px 0px 0px;
}

#custom-power{
    border-radius: 0px 0px 25px 25px;
	margin-bottom: 2px;
}

#custom-p1{
	margin-top: 2px;
}
